html {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}

body {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.scroll-enabled {
    overflow-y: scroll;
    overflow-x: hidden;
    --scrollbar-background: #195ad2;
}

.scroll-enabled::-webkit-scrollbar {
    width: 20px;
}

.scroll-enabled::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

.scroll-enabled::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-background);
    border-radius: 12px;
    border: 7px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}

.scroll-enabled::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}